<div class="main-div">
  <mat-card class="register-card">
    <mat-card-header style="margin: 0px auto">
      <mat-card-title> Register as Case Manager</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Full name</mat-label>
        <input matInput placeholder="Username" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput placeholder="Username" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="Contact Number" />
        <mat-icon matPrefix>contact_phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>User Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let user of userTypes" [value]="user.value">
            {{user.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <section class="chkbox-register">
        <mat-icon matPrefix>female</mat-icon>
        <mat-label class="chkbox-register-margin">Gender</mat-label>
        <mat-radio-group>
          <mat-radio-button class="chkbox-register-margin" value="after"
            >Male</mat-radio-button
          >
          <mat-radio-button class="chkbox-register-margin" value="before"
            >Female</mat-radio-button
          >
        </mat-radio-group>
      </section>

      <mat-card-actions>
        <button mat-raised-button class="btn-signIn">Create an account</button>
      </mat-card-actions>

      <p class="register-here-account-label">
        have an account?
        <a [routerLink]="['/signin']" class="register-here">Sign in</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
