mat-card-title {
  color: #ed1c2a;
}

mat-form-field {
  width: 100%;
  height: 70px;
}

.btn-signIn.mat-mdc-raised-button {
  background-color: #ed1c2a !important;
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-content {
  margin-top: 5%;
}

.register-card {
  max-width: 400px;
  height: 650px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

.main-div {
  background-color: #060056;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.chkbox-register-margin {
  margin: 0 10px;
}
.register-here-account-label{
  color: black;
  text-align: center;
  font-weight: 400;
  .register-here{
    color:#ED1C2A;
    text-decoration: none;
  }
}